<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Important links</title>
    <link rel="icon" href="/img/logo.png">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script defer src="https://friconix.com/cdn/friconix-0.1765.js"> </script>
    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.3.11/css/skins/skin-green.css">
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.3.11/js/app.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.3.11/css/AdminLTE.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.3.11/css/skins/skin-blue.css">
    
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/links.css">
</head>
<body>
    <body class="hold-transition skin-black sidebar-mini">
        <!-- Site wrapper -->
        <div class="wrapper">
        
          <%- include("./partials/header.ejs") %>
          <%- include("./partials/sidebar.ejs") %>
          
            <div class="content-wrapper">
                <% if(hasErrors){ %>
                  <% _.forEach(errors, (error) => { %>
                    <div class = "alert alert-danger text-center">
                        <a href = "#" class = "close" data-dismiss = "alert" aria-label="close">&times;</a>
                    <%= error %>
                    </div>
                  <% }) %>
                <% } %>
                <section class="content">
                    <h1 class = "h3 mb-3" style = "font-weight:bolder">NOTES AND HOMEWORKS</h1>
                    <div class = "row">
                        <% _.forEach(links, (link) => { %>
                            <div class = "col-sm-12 col-md-6 col-lg-4">
                                <div class="card mb-3 pt-2 visitlink" style = "border-left: 5px solid #007bff">
                                    <div class="no-border text-uppercase px-3" style = "color: #303030;font-size: 16px;font-family: Arial, Helvetica, sans-serif;font-weight: bold"><%= link.title %></div>
                                   <% if(link.desc){ %>
                                    <p class = "px-3 pb-0 mt-2" style = "font-size: 15px;"><span><%= link.desc %></span></p>
                                   <% }else{ %>
                                    <p class = "px-3 pb-0 mt-2" style = "font-size: 15px;"><span>No description available</span></p>
                                   <% } %>
                                    <span class = "pull-left no-border px-3 mb-3" style = " margin-bottom: -20px;color: #505050; font-weight: bolder; font-size: 12px;"><i class = "fa fa-eye"></i> viewed by <%= link.visits %></span>
                                    <p><span class = "pull-left no-border px-3" style = " margin-bottom: -20px;color: #505050; font-weight: bolder; font-size: 12px;"><i class = "fa fa-clock"></i> <%= moment(link.submitted).format("ll") %></span><span class = "pull-right no-border px-3" style = "color: #505050; font-weight: bolder; font-size: 12px;"><i class = "fa fa-school mr-1"></i> Section <%= link.section %></span></p>
                                    <p><span class = "pull-left no-border px-3 mb-2" style = "color: #505050; font-weight: bolder; font-size: 12px;"><i class = "fa fa-clock"></i> <%= moment(link.submitted).fromNow() %></span> <span class = "pull-right no-border px-3 mb-2" style = "color: #505050; font-weight: bolder; font-size: 12px;"><i class = "fa fa-pen mr-1"></i><%= link.subject %></span></p>
                                    <!-- <div class="card-body">
                                    </div> -->
                                    <a href="/visit/<%= link._id %>" target = "_blank">
                                        <div class = "card-footer clicklink bg-primary" style = "color: #fff">
                                            Click here to visit
                                        </div>
                                    </a>    
                                </div>
                            </div>
                        <% }) %> 
                    </div>
                    <div class = "row my-3">
                      <div class = "mx-auto">
                          <% if (pages > 0) { %>
                            <ul class="pagination text-center">
                                <% if (current == 1) { %>
                                    <li class="disabled"><a class = "bg-primary pgbutton mr-1"  style = "color: #fff">First</a></li>
                                <% } else { %>
                                    <li><a href="/exam/1" class = "bg-primary pgbutton mr-1" style = "color: #fff">First</a></li>
                                <% } %>
                                <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                                <% if (i !== 1) { %>
                                    <li class="disabled"><a>...</a></li>
                                <% } %>
                                <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                                    <% if (i == current) { %>
                                        <li class="active"><a class = "bg-primary pgbutton px-2 mr-2"  style = "color: #fff;"><%= i %></a></li>
                                    <% } else { %>
                                        <li><a href="/exam/<%= i %>" class = "bg-primary pgbutton px-2 mr-2"  style = "color: #fff"><%= i %></a></li>
                                    <% } %>
                                    <% if (i == Number(current) + 4 && i < pages) { %>
                                        <li class="disabled"><a>...</a></li>
                                    <% } %>
                                <% } %>
                                <% if (current == pages) { %>
                                    <li class="disabled"><a class = "bg-primary pgbutton"  style = "color: #fff">Last</a></li>
                                <% } else { %>
                                    <li><a href="/exam/<%= pages %>" class = "bg-primary pgbutton"  style = "color: #fff">Last</a></li>
                                <% } %>
                            </ul>
                        <% } %> 
                      </div>
                    </div>
                </section>
              </div>
            <footer class="main-footer text-center" style = "background: #007bff;color: #fff;width: 100%;">
              <div class = "row">
                <div class = "col-md-8">
                  - NETWORK FOR STUDENTS BY THE STUDENTS
                </div>
                <div class = "col-md-4">
                  &copy;2020 GLANETWORK
                </div>
              </div>
            </footer>
        </div>
</body>
</html>